<!DOCTYPE html>
<html>
  <head>
    <title>GroupMembership</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <form action="/sessions/logout" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="post">
        <input type="submit" value="Log Out">
      </form>
    <% end %> 
    <%= yield %>
  </body>
</html>
